<h1>Listado de Pokemons</h1>
<hr>

<input type="texto"
  class="form-control mb-2"
  placeholder="Buscar pokemon"
  #txtSearch
  (keyup)="buscarPokemon(txtSearch.value)"
>

<button class="btn btn-primary" (click)="previousPage()">
  Anterior
</button>
&nbsp;
<button class="btn btn-primary" 
  (click)="nextPage()"
  [disabled]="(pokemons | filtro:page:search).length === 0">
  Siguiente
</button>
<table class="table">
  <thead>
    <tr>
      <th>Nro.</th>
      <th>Nombre</th>
      <th>foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons | filtro:page:search"
        [ngStyle]="{'height':'100px'}"
    >
      <td>{{pokemon.numero}}</td>
      <td>{{pokemon.nombre}}</td>
      <td>
        <img
          [src]="pokemon.foto"
          [alt]="pokemon.nombre"
          [ngStyle]="{'width':'75px'}"
        >
      </td>
    </tr>
  </tbody>
</table>
